[submodule "powerline-shell"]
	path = powerline-shell
	url = https://github.com/milkbikis/powerline-shell
[submodule "vim-node"]
	path = vim-node
	url = https://github.com/guileen/vim-node
[submodule "jshint.vim"]
	path = jshint.vim
	url = git://github.com/walm/jshint.vim.git
[submodule "jscomplete-vim"]
	path = jscomplete-vim
	url = git://github.com/teramako/jscomplete-vim.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/Lokaltog/powerline
[submodule "syntastic"]
	path = syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim-easymotion"]
	path = vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "tern_for_vim"]
	path = tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "vim-javascript-syntax"]
	path = vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "vim-javascript"]
	path = vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-indent-guides"]
	path = vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
